.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}


.profile-details {
  text-align: left;
  font-size: 20px;
}

.profile-details p {
  margin: 10px 0;
}

button{
border:1px solid black;
border-radius: 10px;
}
/* .signmsg{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color:darkgrey;
  margin: auto;
  padding: 20px ;
} */
@keyframes blinkColor {
  0%   { color: #555; }
  50%  { color: #f10d92; }
  100% { color: #555; }
}

.signmsg {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  animation: blinkColor 1.2s infinite;
}
